    <tr>
      <th><label for="table_name">Name</label></th>
      <td><%= text_field 'table', 'name'  %></td>
    </tr>
    <tr>
      <th><label for="table_description">Description</label></th>
      <td><%= text_area 'table', 'description', :style => "width: 99%", :rows => 4  %></td>
    </tr>
    <tr>
      <th><label for="table_columns">Columns</label></th>
      <td><%= text_field 'table', 'columns', :style => "width: 99%" %></td>
    </tr>
    <tr>
      <th><label for="table_order_by">Order by</label></th>
      <td><%= text_field 'table', 'order_by', :style => "width: 99%"%></td>
    </tr>
    <tr>
      <th><label for="table_group_by">Group by</label></th>
      <td><%= text_field 'table', 'group_by', :style => "width: 99%"%></td>
    </tr>
    <tr>
      <th><label for="table_max_count">Max count</label></th>
      <td><%= text_field 'table', 'max_count', :style => "width: 99%"%></td>
    </tr>
    <tr>
      <th><label for="table_max_display_count">Max display count</label></th>
      <td><%= text_field 'table', 'max_display_count', :style => "width: 99%"%></td>
    </tr>
