<%= error_messages_for 'ip_range' %>

  <tr>
    <th class="form_header" colspan="2">Ip Range</th>
  </tr>
  <tr>
    <th><label for="ip_range_name">Name</label></th>
    <td><%= text_field 'ip_range', 'name'  %></td>
   </tr>
   <tr>
     <th><label for="ip_range_description">Description</label></th>
    <td><%= text_area 'ip_range', 'description', :style => 'width: 98%', :rows => 4 %></td>
   </tr>
  <tr>
    <th><label for="ip_range_from_ip">From IP</label></th>
    <td><%= text_field 'ip_range', 'from_ip'  %></td>
  </tr>
  <tr>
    <th><label for="ip_range_to_ip">To IP</label></th>
    <td><%= text_field 'ip_range', 'to_ip'  %></td>
  </tr>
  <tr>
    <th><label for="ip_range_netmask"></label>Netmask</th>
    <td><%= text_field 'ip_range', 'netmask'  %></td>
  </tr>
  <tr>
    <th><label for="ip_range_"></label>Enabled</th>
    <td><%= check_box 'ip_range', 'enabled'  %></td>
  </tr>
